body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #181A1B;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  margin: 0;
  color: #C6C6C6;
}

.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  /* push footer to bottom of page */
  flex: 1;
}

header {
  display: flex;
  background-color: #0D0E0E;
  margin-bottom: 3rem;
}

p, span {
  font-size: 1rem;
}

a:hover {
  color: lightblue;
}

table, th, td {
  border: none;
  border-collapse: collapse;
  height: 2rem;
}

th, td {
  border-left: 20px solid #181A1B;
  border-right: 20px solid #181A1B;
  text-align: center;
}

td {
  background-color: #292c2c;
}

table {
  width: 100%;
}

footer {
  margin-top: auto;
  background-color: #0D0E0E;
  text-align: center;
  margin-top: 2rem;
  font-size: 0.6rem;
  padding: 0.4rem;
}

/* Navbar component */
nav {
  margin-left: auto;
}

nav span {
  font-size: 1rem;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: right;
  font-size: 1rem;
}

nav a {
  padding: 1.8rem;
  text-decoration: none;
  display: flex;
  align-content: center;
}

nav a:hover {
  background-color: black;
  text-decoration: underline;
}

.logo {
  display: flex;
  align-items: center;
  padding-left: 0.5rem;
}

.logo-img {
  max-width: 100%;
  height: 5rem;
}

/* ColourGame component */
.game-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  padding: 3rem;
}

.game-description {
  text-align: center;
}

.colours-container {
  display: flex;
  height: 10rem;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}

.colour-dot {
  height: 20rem;
  width: 20rem;
  -webkit-mask:url("./assets/paint-streak.png") center/contain;
  z-index: -9999;
}

.game-answers {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.8rem;
  padding: 3rem;
}

button {
  padding: 1rem;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 1rem;
  background-color: #292c2c;
  border: none;
}

button:hover {
  background-color: hsl(180, 4%, 15%, 0.5);
}

/* Leaderboard component */
.leaderboard-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  max-width: 50rem;
  margin: auto;
}

.rank-col {
  width: 5rem;
}

.username-col {
  text-align: left;
  padding-left: 2rem;
}

.highscore-col {
  width: 7rem;
}

/* About component */
.about-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  max-width: 50rem;
  margin: auto;
}

.about-title {
  padding-bottom: 1rem;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 1.5rem;
}

.figma-img {
  width: 50rem;
}

/* Login and Register component */
.form-signin {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.form-title {
  font-size: 1.5rem;
  padding-bottom: 10px;
}

.username, .password {
  padding: 0.5rem;
  text-align: center;
  font-size: 1rem;
  background-color: #292c2c;
  border: none;
}

a:hover {
  text-decoration: underline;
}

.auth-link {
  padding: 0;
  display: flex;
  flex-direction: column;
  text-align: center;
}